header, h1, nav, ul, main, article, aside, footer {
	padding: 0;
	margin: 0;
	border: 1px solid black;
}

html {
	font-family: 'JetBrains Mono', monospace;
}

header, main {
	display: flex;
}

h1 {
	flex-basis: 50%;
}

nav {
	flex-basis: 50%;
}

ul {
	list-style: none;
    display: flex;
    padding: 0;
    margin: 0 30px;
    justify-content: space-between;
	flex-wrap: wrap;
}

li {
	list-style: none;
    display: flex;
    padding: 0;
    margin: 0 30px;
    justify-content: space-between;
	align-items: center;
}

article {
	flex-basis: 75%;
}

aside {
	flex-basis: 25%;
}


@media (max-width: 600px) {
	main{
		flex-direction: column;
	}
	
	h1, nav, article, aside {
		flex-basis: 100%;
	}
}