article {
	display: flex;
	min-height: 750px;
	min-width: 300px;
	align-items: center;
	margin: 1% 2% 1% 2%;
	justify-content: center;
}

form {
  max-width: 300px;
  background-color: #518B66;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

form h2 {
	color: black;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #DFFFEA;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D1EBDA;
    color: black
}

  ul {
    list-style-type: none;
}