h2 {
	text-align: center;
	font-size: 48px;
}

#game { 
	width: 150%;
}

form {
	width: 85%;
	padding: 0 0 0 5%;
}

#input {
	display: flex;
}

#terminal {
	min-width: 240px;
	height: 305px;
	margin: 0;
	padding: 3%;
	
	overflow: scroll;
	
	border: 2px solid #518B66;
	border-radius: 10px;
	
	background-color: white;
	color: black;
}

#commands {
	width: 100%;
	
	border: 2px solid #518B66;
	border-radius: 5px;
	
	background-color: white;
	color: black;
	
	font-size: 15px;	
}

#submit-command {
	border: 2px solid #518B66;
	border-radius: 5px;
	
	background-color: #DFFFEA;
	color: black;
	
	margin: 0 0 0 1%;
}

#submit-command:hover {
	border: 2px solid #518B66;
	border-radius: 5px;
	
	background-color: #518B66;
	color: white;
	
	margin: 0 0 0 1%;
}

#separator {
	margin: 0 0 0 25%;
	width: 10px;
	height: 600px;

	background-color: #518B66;
}

#instructions {
	text-align: center; 
	min-width: 100px;
	min-height: 500px;
}	